/* Existing CSS */

body {
  margin: 0px;
  background-image: url('tausta.jpg');
  font-family: 'Trebuchet MS', sans-serif;
  padding-bottom: 60px;
  min-height: 100vh;
  background-color: #332555;
}


ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #383838;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #332555;
}

.active {
  background-color: #473377;
}

#button1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -75%);
  transform: translate(-50%, -75%);
}

#button2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 75%);
  transform: translate(-50%, 75%);
}

#footer {
  text-align: center;
  background-color: #383838;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* KIRJAUTUMISEEN LIITTYVÄÄ */
.kirjaudu_box {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.input-group {
  display: flex;
  justify-content: center;
}

.submitbtn {
  width: 100%;
  max-width: 150px;
  background-color: #ffc107; 
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submitbtn:hover {
  background-color: #ffca28; 
}

.error {
  color: red;
  margin-bottom: 20px;
}

.loginp {
  color: #333;
}

/* KÄYTTÄJÄN LUONTI KAMAA */

.registerform {
  text-align: center;
}

.registerform h2 {
  margin-bottom: 20px;
  color: #333; 
}

.registerlabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; 
}

.registerinput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/*sql error ja succ viestit*/
.error {
  background: #F2DEDE;
  color: #A94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

.success {
  background: #D4EDDA;
  color: #40754C;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

/*profiili kuva css*/

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  object-fit: cover;
  margin: 0 auto;
  
}


